<div class="container">
    <div class="header-section">
        <h2>Listado de Productos</h2>
    </div>

    <div *ngIf="listaProducto.length === 0" class="no-data">
        No hay productos registrados.
    </div>

    <div *ngIf="listaProducto.length > 0" class="table-card">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Descuento </th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of listaProducto">
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.titulo }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio  | currency:'USD':'symbol':'1.2-2'}}</td>
                    <td>{{ producto.precio | descuento: producto.descuento | currency:'USD':'symbol':'1.2-2' }}</td>
                    <td class="actions-cell">
                        <button class="action-btn view" title="Ver"  [routerLink]="['/productos', producto.id]">🔍</button>
                        <button class="action-btn delete" title="Eliminar" (click)="eliminarProducto(producto.id)">🗑️</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>