<div class="dashboard-home">
  <div class="welcome-card">
    <div class="welcome-text">
      <h1>¡Te damos la bienvenida al Sistema!</h1>
      <p class="subtitle">
        Desde este panel vas a poder administrar de forma centralizada los usuarios de la organización y el catálogo de productos disponibles.
      </p>
    </div>
  </div>

  <div class="quick-actions-grid">
    <div class="action-card" routerLink="/usuarios">
      <div class="card-icon">
        <img src="assets/icons/usuarios-icon.svg" alt="Icono Usuarios" class="sidebar-custom-icon">
      </div>
      <h3>Gestión de Usuarios</h3>
      <p>Alta, modificación y control de estados de cuentas.</p>
    </div>

    <div class="action-card" routerLink="/productos">
      <div class="card-icon">
         <img src="assets/icons/producto-icon.svg" alt="Icono Producto" class="sidebar-custom-icon">
      </div>
      <h3>Catálogo de Productos</h3>
      <p>Visualización de detalles y cálculo automático de descuentos.</p>
    </div>
  </div>
</div>